@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "./reset.css";
body{
    font-family: 'Poppins', sans-serif;
    color:#000;
    background-color:#F1F1F1;
}

.header{
    padding-top:46px;
}

.header-nav{
    display: flex;
    justify-content:space-between;
    align-items:flex-end;
    
}

.container{
    padding 0 30px;
    margin:0 auto;
    max-width:1230px;
}

.logo-img{
    width:6%;
    height:6%;
}

.logo{
    position: relative;
    font-weight:700;
    font-size: 32px;
    color:#000;
    padding:0 12px 3px 0;
}

.nav-list{
    display:flex;
    column-gap:50px;
    font-weight:500;
    font-size:14px;
    padding-bottom:15px;
}

.nav-link{
    color:#000;
}

.nav-link:hover{
    color:red;
}

.header-content{
    background-image:url(../img/background.jpg);
    width:80%;
    height:600px;
    margin-top:50px;
    margin-left:10%;
}

.description{
    width:700px;
    height:400px;
    padding-left:200px;
    padding-top:100px;
}

.header-content-text-h1{
    color:white;
    font-size:60px;
}

.header-content-text-h2{
    color:white;
    font-size:20px;
    margin-top:50px;
}

.services{
    padding:90px 0;
}

.service-card{
    padding:50px 40px;
    border:4px solid gray;
    border-radius:20px;
    background-color:#DBDCDE;
    width:40%;
}

.service-row{
    display: flex;
    column-gap:10%;
    height:30%;
    margin: 0 10%;
}

.service-card-img{
    margin-bottom:30px;
    height:100px;
    width:100px;
}

.service-card-title{
    margin-bottom:10px;
    font-weight:600;
    font-size:24px;
    text-transform: uppercase;
}

.service-card-p{
    line-height: 2;
}

.footer{
    background-color:#DBDCDE;
    width:100%;
    height:100px;
    margin-top:50px;
}
.footer-card{
    padding-top:30px;
    width:25%;
    display:flex;
}
.footer-row{
    display: flex;
    column-gap:20%;
    margin: 0 10%;
}
.footer-card-img{
    margin-bottom:30px;
    height:20px;
    width:20px;
}
.footer-card h4{
    font-size:15px;
    padding-left:10px;
}